
$unit: 14px;

$text-color: #333;
$background-color: #ddd;

$b-text-color: #ddd;
$b-background-color: #333;

body {
  @mixin fx-ab color, text-color;
  @mixin fx-ab background, background-color;
  font-family: 'Droid Sans Mono';
  width: 88%;
  margin: 0 auto;
}

.fixin {
  @mixin fx-box-shadow rgba(0,0,0,0.5);
  padding: resolve($unit*1.5);
  margin-bottom: $unit;
  clear: fix;
  h4 {
    font-size: resolve($unit*2);
    text-align: center;
  }
  h6 {
    text-align: center;
  }
}

p {
  padding: $unit;
  &.p1 {
    @mixin fx-ellipsis;
    @mixin fx-emboss 2px,0.66,0.66,0.66;
  }
  &.p2 {
    @mixin fx-emboss (
      top-opacity: 0.05,
      background-opacity: 0.1
    );
  }
  &.p3 {
    @mixin fx-emboss;
  }
}

ul {
  &.hl {
    @mixin fx-horizontal-list;
  }
  &.lu {
    @mixin fx-list;
  }
}

.box {
  @mixin fx-size 128px;
  display: inline-block;
  margin: $unit;
  &.b1 {
    @mixin fx-box-shadow;
  }
  &.b2 {
    @mixin fx-box-shadow rgba(0,0,0,0.5);
  }
  &.b3 {
    @mixin fx-size 256px, 128px;
    @mixin fx-box-shadow (color: rgba(0,63,0,0.4));
    background: rgb(200,227,200);
  }
}

@mixin fx-ab body .g, border, text-color, 1px solid $$;

.grid {
  @mixin fx-span;
  height: 256px;
  * {
    box-sizing: border-box;
  }
  .g {
    @mixin fx-size 100%, 256px;
  }
  .g1 {
    @mixin fx-span 1;
  }
  .g2 {
    @mixin fx-span 2;
  }
  .g3 {
    @mixin fx-span 3;
  }
  .g4 {
    @mixin fx-span 4;
  }
}

.a1 {
  @mixin fx-underline-on-hover;
}
.a2 {
  @mixin fx-underline-on-hover purple;
}
.a3 {
  @mixin fx-underline-on-hover (color: orange);
}



p.gold1 {
  font-size: fx-golden-ratio($unit, -2);
  &:before {
    content: fx-str(fx-golden-ratio($unit, -2));
  }
}
p.gold2 {
  font-size: fx-golden-ratio($unit, 1-);
  &:before {
    content: fx-str(fx-golden-ratio($unit, 1-));
  }
}
p.gold3 {
  font-size: fx-golden-ratio($unit, 1);
  &:before {
    content: fx-str(fx-golden-ratio($unit, 1));
  }
}
p.gold4 {
  font-size: fx-golden-ratio($unit, 2);
  &:before {
    content: fx-str(fx-golden-ratio($unit, 2));
  }
}

p.rand1:before {
  content: fx-str(fx-random());
}
p.rand2:before {
  content: fx-str(fx-random(300,310));
}
p.rand3:before {
  content: fx-str(fx-random(0,1,true));
}
p.rand3:before {
  content: fx-str(fx-random(0,1,true,true));
}

.swatches {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@define-mixin swatch $class, $bg, $fg {
  .swatch.$(class) {
    @mixin fx-size 256px;
    flex-basis: 256px;
    background: $bg;
    color: $fg;
    margin: 8px;
    &:before {
      content: fx-str($class $bg $fg);
    }
  }
}

$swatch-bg: 12;
$swatch-fg: 192;
@mixin swatch red,     fx-red($swatch-bg),     fx-red($swatch-fg);
@mixin swatch orange,  fx-orange($swatch-bg),  fx-orange($swatch-fg);
@mixin swatch yellow,  fx-yellow($swatch-bg),  fx-yellow($swatch-fg);
@mixin swatch green,   fx-green($swatch-bg),   fx-green($swatch-fg);
@mixin swatch cyan,    fx-cyan($swatch-bg),    fx-cyan($swatch-fg);
@mixin swatch blue,    fx-blue($swatch-bg),    fx-blue($swatch-fg);
@mixin swatch violet,  fx-violet($swatch-bg),  fx-violet($swatch-fg);
@mixin swatch magenta, fx-magenta($swatch-bg), fx-magenta($swatch-fg);
@mixin swatch gray,    fx-gray($swatch-bg),    fx-gray($swatch-fg);

.lerp1 {
  color: fx-lerp(rgb(0,0,127), #ff0000, 0.50);
  background: fx-lerp(#ff0000, rgb(0,0,127), 0.5);
}

.lerp2 {
  color: fx-lerp(#ff0000, rgb(0,127,255), 0.5);
  background: fx-lerp(rgb(0,127,255), #ff0000, 0.5);
}


$md-keys:
  red,
  pink,
  purple,
  deep-purple,
  indigo,
  light-blue,
  cyan,
  teal,
  green,
  light-green,
  lime,
  yellow,
  amber,
  orange,
  deep-orange,
  brown,
  grey,
  blue-gray;

.c-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.c {
  font-size: $unit*1.5;
  text-align: center;
  border: 12px solid black;
}
@each $key in $md-keys {
  .c-$(key) {
    background: fx-mdc($key, 500);
    color: fx-mdc($key, 100);
    border-color: fx-mdc($key, 900);
    &:after {
      content: fx-str($key);
    }
  }
}

@for $i from 0 to 9 {
  .cmdc-$(i) {
    background: fx-cmdc(#ff$(i)$(i)$(i)$(i));
  }
}
